
<div style="display: flex; align-items: center; justify-content: space-between; position: relative; width: 100%;">

    <div>
      <i class="fa-solid fa-chevron-left ml-7 mt-3" [routerLink]="['/teams',team.id]" style="font-size: 1.6rem; cursor: pointer;"></i>
    </div>
  
    <div styles="position: absolute; left: 50%; transform: translateX(-50%);" >
      <h1 class="name   text-center" style="font-size: 2.5rem;">{{team.name}}</h1>
    </div>
  
    <div class="mr-24" >

    </div>
  
  </div>

  
  <hr >