
<div style="display: flex; align-items: center; justify-content: space-between; position: relative; width: 100%;" class="mt-3">

  <div>
    <i class="fa-solid fa-chevron-left ml-7 mt-3" routerLink="" style="font-size: 1.6rem; cursor: pointer;"></i>
  </div>

  <div class="position: absolute; left: 50%; transform: translateX(-50%);" >
    <h1 class="name   text-center">{{teamDescription.name}}</h1>
  </div>

  <div class="mr-12" [routerLink] ="['/teams',teamDescription.id,'settings']">
    <a  style="cursor: pointer;">
      <img src="assets/WebImages/icons/settings.png" alt="Logo" class="settings" />
    </a>
  </div>

</div>
  
<hr >

<div class="path ml-5 gap-1">
<div *ngFor="let _ of path;let i =index" class="path ">
    <p style="font-size: 1.3rem;" class="mt-3 link" (click)="navigateToUrl(_)" (dragover)="onDragOver($event)" (drop)="onDrop($event,i)" *ngIf="_!='/' && i>0"> {{_}}</p>
    <p style="font-size: 1.3rem;" class="mt-3 link" (click)="navigateToUrl(_)" *ngIf="_=='/' || i==0"> {{_}}</p>
    <p style="font-size: 1.3rem;" class="mt-3 ml-2"> /</p>
</div>

<div class="new" (click)="toggleDropDownAdd()">
  <i class="fa-solid fa-plus " style="font-size: 1.5rem;"></i>
  <a class="ml-2">New </a>
  <div class="dropdown mr-28 mt-10">
    <div class="dropdown-content" style="font-size: 1rem; text-align: center;" [ngClass]="{'show': isDropDownOpen['add']}" *ngIf="isDropDownOpen['add']">
      <a (click)="addResource()">New Folder</a>
      <a (click)="addFile()">Add File</a>
    </div>
  </div>
</div>
</div>

<div class="folders-container ">
  <div *ngFor="let resource of resources; let i = index" class="folder" 
       (dragover)="onDragOver($event)" (drop)="onDrop($event, resource)" 
       (dragstart)="onDragStart($event, resource)" draggable="true">
    
    <!-- Ikona folderu -->
     <div class="ikonname">
      <a (click)="navigateToSubResources(resource.id)" class="folder-icon">
        <img src="assets/WebImages/icons/folder.png" alt="Folder Icon" class="logo" />
      </a>
  
      <!-- Nazwa folderu -->
      <a class="folder-name">{{ resource.name }}</a>
     </div>

    <!-- Dropdown menu -->
    <div class="dropdown" (click)="toggleDropdownFolder(i)">
      <i class="fa-solid fa-ellipsis-vertical dropdown-icon" style="font-size: 1.5rem;"></i>
      <div class="dropdown-content" [ngClass]="{'show': isDropDownOpen['files'][i]}">
        <a (click)="renameResource(resource)">Rename</a>
        <a (click)="deleteResource(resource.id)">Delete</a>
        <a (click)="managePermissions(resource)">Permissions</a>
      </div>
    </div>
  </div>


<div *ngFor="let file of files;let i=index" class="folder" (dragstart)="onDragStart($event,file)" draggable="true">
  <div class="ikonname">
  <a  class="folder-icon">
    <img [src]="getIconUrl(file)" alt="{{file.name}}" class="logo" />
    </a>
    <a class="folder-name">{{ file.name }}</a>
  </div>
  <div class="dropdown" (click)="toggleDropdownFile(i)">
    <i class="fa-solid fa-ellipsis-vertical dropdown-icon" style="font-size: 1.5rem;"></i>
    <div class="dropdown-content" [ngClass]="{'show': isDropDownOpen['resource'][i]}">
      <a [href]="getDownloadUrl(file.file)" [attr.download]="file.name">Download</a>
      <a (click)="renameFile(file)">Rename</a>
      <a (click)="deleteFile(file.id)">Delete</a>
    </div>
  </div>

</div>




</div>

<div class="modal" *ngIf="isModalOpen['isRename']">
  <div class="SizeModalContent" style="height: 14rem;">
      <span class="close" (click)="closePanel()">&times;</span>
      <p class="text-2xl font-bold ">Change name</p>
      <form (ngSubmit)="onRenameFileResource(rename,selectedFileOrResource!.name,selectedFileOrResource!.id)" class="formContainer mt-4"  #rename="ngForm">
        <input class="input" type="text" id="edit-name" [ngModel]="selectedFileOrResource!.name" name="edit-name"
            required />
          <div class="buttonContainer mt-1">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" (click)="closePanel()">Cancel</button>
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ml-5" type="submit">OK</button>
          </div>
      </form>
  </div>
</div>

<div class="modal" *ngIf="isModalOpen['isAddResource']">
  <div class="SizeModalContent" style="height: 19.4rem;">
      <span class="close" (click)="closePanel()">&times;</span>
        <p class="text-2xl font-bold ">New folder</p>
        <form (ngSubmit)="onAddResource(addResource)" class="formContainer mt-4"  #addResource="ngForm">
          <input class="input" type="text" id="folder-name" placeholder="Folder name" name="folder-name" ngModel
            required />
            <div style="display: flex; align-items: center; gap: 10px; justify-content: space-between;margin-top:1.5rem;">
              <p >Choose permission:</p>
              <select id="options" name="selectedOption" [(ngModel)]="permissionsData['selectedPermission']" (change)="onPermissionChange($event)">
                <option *ngFor="let permission of permissionsData['permissions']" [value]="permission">{{ permission }}</option>
              </select>
            </div>
            <p style="display:flex; font-size: 10px; justify-content: center; margin-top: 0.7rem;">This will set default permission for all users in team</p>
       <div class="buttonContainer mt-4">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" (click)="closePanel()">Cancel</button>
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ml-5" type="submit">OK</button>
          </div>
      </form>
  </div>
</div>


<div class="modal" *ngIf="isModalOpen['isManagePermission']">
  <div class="SizeModalContent" style="height: 40rem; width: 65rem;">
      <span class="close" (click)="closePanel()">&times;</span>
        <p class="text-2xl font-bold ">Permissions</p>
        <form (ngSubmit)="onManagePermissions()" class="formContainer mt-4"  #addFolder="ngForm" style="height: 100%;display: flex; flex-direction: column; justify-content: space-between;">

          <div class="permission-box-container">
            <ng-container *ngFor="let permission of permissionsData['permissions']; let i = index">
              <div style="flex: 1; text-align: center;">
                <h3>{{ permission }}</h3>
                <div
                  class="permission-box"
                  [ngClass]="permission.toLowerCase() + 'Box'"
                  (dragover)="allowDropUser($event)"
                  (drop)="dropUser($event, permission)"
                >
                  <ng-container *ngFor="let perm of getPermissionsForBox(permission)">
                    <div
                      class="draggable-user"
                      draggable="true"
                      (dragstart)="dragUser($event, perm)"
                      style="width: 100%; display: flex; flex-direction: column; align-items: start; overflow-y: hidden;"
                    >
                      <p>{{ perm.user.first_name }} {{ perm.user.last_name }}</p>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>


         <div class="buttonContainer mt-4" >
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" (click)="closePanel()">Cancel</button>
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ml-5" type="submit">OK</button>
          </div>
      </form>
  </div>
</div>


<input
  type="file"
  (change)="onFileSelected($event)"
  #fileInput
  style="display: none"
/>