<div class ="songs-box ">
    <div class="playlist-grid" >
        <div class="team-card" *ngFor="let team of Teams" [routerLink]="['/teams',team.id]">
            <h2>{{ team.name }}</h2>
            <p>awdjiwa dnawiuod nawduaiwdn aiu d</p>
          </div>
    </div>
</div>


<button style="border: 1px solid black;" (click)="openAddTeamPanel()">Add team</button>




<div class="modal" *ngIf="isAddTeamOpen">
    <div class="SizeModalContent">
        <span class="close" (click)="closePanel()">&times;</span>
          <p class="text-2xl font-bold ">New Team</p>
          <form (ngSubmit)="onAddTeam(addTeam)" class="formContainer mt-4"  #addTeam="ngForm">
            <input class="input" type="text" id="team-name" placeholder="Team name" name="team-name" ngModel
              required />
            <div class="buttonContainer mt-2">
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" (click)="closePanel()">Cancel</button>
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ml-5" type="submit">OK</button>
            </div>
        </form>
    </div>
  </div>