<div class ="songs-box ">
    <div class="playlist-grid" >
      <button class="add-team-btn" (click)="openAddTeamPanel()">ADD Team</button>
        <div class="team-card" *ngFor="let team of Teams" [routerLink]="['/teams',team.id]">
            <div style="height: 100%; overflow: hidden;">
              <h2 style="max-height: 70%;">{{ team.name }}</h2>
            </div>
          </div>
    </div>
</div>


<!-- <button style="border: 1px solid black;" (click)="openAddTeamPanel()">Add team</button> -->




<div class="modal" *ngIf="isAddTeamOpen">
    <div class="SizeModalContent">
        <span class="close" (click)="closePanel()">&times;</span>
          <p class="text-2xl font-bold ">New Team</p>
          <form (ngSubmit)="onAddTeam(addTeam)" class="formContainer mt-4"  #addTeam="ngForm">
            <input class="input" type="text" id="team-name" placeholder="Team name" name="team-name" ngModel
              required />
              <div style="height: 20px;">
                <p style="color:red;font-size:12px; ">{{error}}</p>
              </div>
            <textarea class="input" type="text" id="team-description" placeholder="Team description" name="team-description" ngModel
              required  rows="4" cols="50" style="resize: none;"></textarea>
            <div class="buttonContainer mt-2">
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" (click)="closePanel()">Cancel</button>
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ml-5" type="submit">OK</button>
            </div>
        </form>
    </div>
  </div>


 