


<div class="ml-5 mt-5 flex items-center relative">
    <i class="fa-solid fa-chevron-left absolute left-0" routerLink="" style="font-size: 2rem; cursor: pointer;"></i>
    <h1 class="name  mx-auto text-center">{{accTeam.name}}</h1>
  </div>
  
<hr >


<div class="flex row-auto gap-10 justify-start ml-20 mt-20">
<div *ngFor="let folder of Folders" class="folders">
    <a (click)="navigateToSubfolder(folder.id)" >
        <img src="assets/WebImages/folder.png" alt="Logo" class="logo" />
      </a>
    <a class="fname">{{folder.name}}</a>
</div>
</div>