
<div style="display: flex; align-items: center; justify-content: space-between; position: relative; width: 100%; " class="mt-3">

  <div>
    <i class="fa-solid fa-chevron-left ml-7 mt-3" routerLink="" style="font-size: 1.6rem; cursor: pointer;"></i>
  </div>

  <div styles="position: absolute; left: 50%; transform: translateX(-50%);" >
    <h1 class="name   text-center">{{accTeam.name}}</h1>
  </div>

  <div class="mr-12" [routerLink] ="['/teams',team_id,'settings']">
    <a  style="cursor: pointer;">
      <img src="assets/WebImages/icons/settings.png" alt="Logo" class="settings" />
    </a>
  </div>

</div>

<hr >

<div class="path ml-5 gap-1">
  <div *ngFor="let _ of path;let i =index" class="path ">
  </div>
  
  <div class="new" (click)="toggleDropDownAdd()">
    <i class="fa-solid fa-plus " style="font-size: 1.5rem;"></i>
    <a class="ml-2">New </a>
    <div class="dropdown mr-28 mt-10"   >
      <div class="dropdown-content" style="font-size: 1rem; text-align: center;" [ngClass]="{'show': isDropdownAddOpen}" *ngIf="isDropdownAddOpen">
        <a (click)="addFolder()">New Folder</a>
      </div>
    </div>
  </div>
  </div>



<div class="folders-container">
  <div *ngFor="let folder of Folders; let i = index" class="folder" 
       (dragover)="onDragOver($event)" (drop)="onDrop($event, folder)" 
       (dragstart)="onDragStart($event, folder)" draggable="true">
    
    <!-- Ikona folderu -->
     <div class="ikonname">
      <a (click)="navigateToSubfolder(folder.id)" class="folder-icon">
        <img src="assets/WebImages/icons/folder.png" alt="Folder Icon" class="logo" />
      </a>
  
      <!-- Nazwa folderu -->
      <a class="folder-name">{{ folder.name }}</a>
     </div>

    <!-- Dropdown menu -->
    <div class="dropdown" (click)="toggleDropdownFolder(i)">
      <i class="fa-solid fa-ellipsis-vertical dropdown-icon" style="font-size: 1.5rem;"></i>
      <div class="dropdown-content" [ngClass]="{'show': isDropdownFolderOpen[i]}" *ngIf="isDropdownFolderOpen[i]">
        <a (click)="RenameFolder(folder)">Rename</a>
        <a (click)="DeleteFolder(folder.id)">Delete</a>
      </div>
    </div>
  </div>
</div>




<div class="modal" *ngIf="isRenameOpen">
  <div class="SizeModalContent">
      <span class="close" (click)="closePanel()">&times;</span>
      <p class="text-2xl font-bold ">Change name</p>
      <form (ngSubmit)="onRenameFileFolder(rename,selected_file_folder.name,selected_file_folder.id)" class="formContainer mt-4"  #rename="ngForm">
        <input class="input" type="text" id="edit-name" [ngModel]="selected_file_folder.name" name="edit-name"
            required />
          <div class="buttonContainer mt-1">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" (click)="closePanel()">Cancel</button>
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ml-5" type="submit">OK</button>
          </div>
      </form>
  </div>
</div>



<div class="modal" *ngIf="isAddFolderOpen">
  <div class="SizeModalContent">
      <span class="close" (click)="closePanel()">&times;</span>
        <p class="text-2xl font-bold ">New folder</p>
        <form (ngSubmit)="onAddFolder(addFolder)" class="formContainer mt-4"  #addFolder="ngForm">
          <input class="input" type="text" id="folder-name" placeholder="Folder name" name="folder-name" ngModel
            required />
          <div class="buttonContainer mt-1">
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" type="button" (click)="closePanel()">Cancel</button>
              <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow ml-5" type="submit">OK</button>
          </div>
      </form>
  </div>
</div>